<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLDoiBongConnectionString"
            connectionString="Data Source=DESKTOP-PGNO1ME\SQLEXPRESS;Initial Catalog=QLDoiBong;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>