USE [master]
GO
/****** Object:  Database [QLDoiBong]    Script Date: 6/19/2020 8:33:50 PM ******/
CREATE DATABASE [QLDoiBong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDoiBong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLDoiBong.mdf' , SIZE = 10MB , MAXSIZE = 30MB, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDoiBong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLDoiBong_log.ldf' , SIZE = 10MB , MAXSIZE = 30MB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDoiBong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDoiBong]
GO
/****** Object:  Table [dbo].[tblCauThu]    Script Date: 6/19/2020 8:33:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCauThu](
	[MaCauThu] [nchar](10) NOT NULL,
	[TenCauThu] [nvarchar](50) NULL,
	[SoDienThoai] [nchar](10) NULL,
	[Email] [nchar](30) NULL,
	[IdDoiBong] [nchar](10) NULL,
 CONSTRAINT [PK_tblCauThu] PRIMARY KEY CLUSTERED 
(
	[MaCauThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDoiBong]    Script Date: 6/19/2020 8:33:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDoiBong](
	[IdDoiBong] [nchar](10) NOT NULL,
	[TenDoiBong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblDoiBong] PRIMARY KEY CLUSTERED 
(
	[IdDoiBong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tblCauThu]  WITH CHECK ADD  CONSTRAINT [FK_tblCauThu_tblDoiBong] FOREIGN KEY([IdDoiBong])
REFERENCES [dbo].[tblDoiBong] ([IdDoiBong])
GO
ALTER TABLE [dbo].[tblCauThu] CHECK CONSTRAINT [FK_tblCauThu_tblDoiBong]
GO
USE [master]
GO
